.Contact {
  text-align: center;
}

.Contact-header {
  font-family: Cochin;
  height: 50px;
  padding: 10px;
}

.Contact-title {
  font-size: 1.5em;
}

.Contact-intro {
  font-family: Cochin;
  font-size: large;
}
