.App {
  text-align: center;
  margin-top: 80px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

.App-header {
  font-family: Cochin;
  height: 100px;
  padding: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-family: Cochin;
  font-size: large;
}

/* .CV-route {
  position: center;
} */

.Links {
  font-family: Cochin;
  padding: 40px;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
